//@media screen and (min-width:320px){} // mobile portrait
//@media screen and (min-width:480px){} // mobile landscape
//@media screen and (min-width:768px){} // ipad portrait
//@media screen and (min-width:1024px){} // browser, ipad landscape
//@media screen and (min-width:1200px){} // browser
//@media screen and (min-width:1600px){} // browser

$hamburger-layer-color: #cc6666;
@import 'hamburgers/hamburgers';

/* ---------- GENERAL ---------- */
* {
  margin: 0 auto;
  padding: 0;
  text-decoration: none; // links
  list-style: none; // lists
}

.hide { /* jquery added class - keeps background from scrolling when overlay menu is visible */
  overflow: hidden;
}

/* ---------- LINKS ---------- */
a:link {
  color: #000;
}

a:visited {
  color: #000;
}

a:hover {
  color: #000;
}

a:active {
  color: #000;
}

/* ---------- BANNERS ---------- */
#banner-home {
  height: 350px;
  margin-top: 84px;
  background-image: url('../images/dog2.png');
  background-size: cover;
  background-position: center;
}

#banner-grooming {
  @extend #banner-home;
  background-image: url('../images/cat2.png');
}

#banner-shop {
  @extend #banner-home;
  background-image: url('../images/bird2.png');
  background-position: right;
}

#banner-events {
  @extend #banner-home;
  background-image: url('../images/collage.png');
}

/* ---------- NAV ---------- */
nav { /* tablet/desktop/mobile overlay */
  text-align: center;
  margin: 20px 10px 0px 0px;

  @media (min-width: 768px) {
    margin-top: 30px;
    float: right;
  }

  .menu-main {
    display: none;

    @media (min-width: 480px) {
      display: block;
    }

    li {
      display: inline-block;
      padding: 15px;
    }

    a {
      font-weight: 400;
      font-size: 1.3em;
    }
  }

  .menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #cc9966;
    z-index: 2;

    @media (min-width: 480px) {
      display: none !important;
    }

    .menu-overlayContent {
      position: relative;
      top: 25%; // CHANGE

      ul {

      }

      li {
        padding: 20px;
      }

      a {
        font-size: 1.4em;
      }
    }
  } /* end .menu-overlay */
} /* end nav */

.current-link {
  border-bottom: 1px solid #cc6666;
}

.fixedNav {
  background-color: rgba(255,255,255,1); // change when scrolling?
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.nav-mobile {
  display: inline-block;
  height: 58px;

  @media (min-width: 480px) {
    display: none;
   }

 .hamburger {
   position: absolute;
   right: 10px;

   @media (min-width: 480px) {
     display: none;
   }
  }
}

.is-active {
  position: absolute;
  right: 10px;
  z-index: 3;
}

/* ---------- PAGES GENERAL ---------- */
.logo-mobile {
  display: inline-block;

  @media (min-width: 480px) {
    display: none;
  }
}

.logo-desktop {
  display: none;

  @media (min-width: 480px) {
    display: block;
    text-align: center;
  }

  @media (min-width: 768px) {
    display: inline-block;
  }
}

.main-page {
  min-height: 500px;
  background: linear-gradient(to bottom, rgba(255,204,153,0), rgba(255,204,153,1));
  padding-bottom: 100px; // WHAT THE FUCKKKK

  h1 {
    font-weight: 700;
    text-align: center;
    margin: 50px 0px 20px;
  }

  p {
    font-weight: 400;
    padding: 0px 20px;
    text-align: justify;
    max-width: 450px;
  }
}

/* ---------- HOME ---------- */
#team {
  text-align: center;
  margin-top: 50px;

  .teamPic {
    margin: 25px;
    position: relative;
    display: inline-block;
  }
}

#management {
  display: block;
}

h3 {
  opacity: 0; /* display on hover */
  position: absolute;
  top: calc(50% - 12px); /* vertically centers text */
  right: 0;
  bottom: 0;
  left: 0;
  font-weight: 400;
}

.teamPic:hover .picText {
  opacity: 1
}

.teamPic:hover img {
  opacity: 0.5;
}

#heweyDewey h3 {
  top: calc(50% - 24px); /* vertically centers 2 lines of text */
}

/* ---------- GROOMING ---------- */
#pricing-grooming {
  text-align: center;
  margin-top: 50px;
  padding: 0px 20px;
  max-width: 450px;

  .priceGroup {
    padding-bottom: 50px;
  }

  h2 {
    text-align: left;
    font-weight: 400;
    font-size: 1.2em;

    @media (min-width: 480px) {
      font-size: 1.5em; /* back to default */
    }
  }

  p {
    padding: 0;
  }

  .desc {
    padding: 0;
    font-size: 0.9em;
    font-weight: 200;
  }

  .prices {
    margin-top: 20px;
    font-size: 0.875em;
    font-weight: 400;

    @media (min-width: 480px) {
      font-size: 1em;
    }

    li {
      text-align: left;
      margin-bottom: 10px;
      border-bottom: 1px solid #cc6666;
    }

    span {
      float: right;
    }
  }
}

/* ---------- SHOP ---------- */


/* ---------- EVENTS ---------- */


/* ---------- CONTACT/FOOTER ---------- */
#footer-extras {
  background-color: rgba(255,204,153,0.5);
  min-height: 500px;
}

#hours {
  text-align: center;
  font-weight: 400;
  padding: 15px 0px;
  max-width: 180px;

  li {
    text-align: left;
    margin-bottom: 5px;
    border-bottom: 1px solid #cc6666;
  }

  span {
    float: right;
  }
}

#contact {
  font-weight: 400;
  padding: 15px 0px;
  text-align: center;

  #number {
    margin-bottom: 10px;
  }
}

#map {
  text-align: center;
  padding: 15px 0px;

  iframe {
    max-width: 750px;
   }
}

footer {
  background-color: #ffcc99;
  text-align: center;
  padding: 15px 0px;
  font-size: 0.75em;
}
