/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #cc6666;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
 * Boring
 */
.hamburger--boring .hamburger-inner, .hamburger--boring .hamburger-inner::before, .hamburger--boring .hamburger-inner::after {
  transition-property: none; }
.hamburger--boring.is-active .hamburger-inner {
  transform: rotate(45deg); }
  .hamburger--boring.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--boring.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg); }

/* ---------- GENERAL ---------- */
* {
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  list-style: none; }

.hide {
  overflow: hidden; }

/* ---------- LINKS ---------- */
a:link {
  color: #000; }

a:visited {
  color: #000; }

a:hover {
  color: #000; }

a:active {
  color: #000; }

/* ---------- BANNERS ---------- */
#banner-home, #banner-grooming, #banner-shop {
  height: 350px;
  background-image: url("../images/dog.png");
  background-size: cover;
  background-position: center; }

#banner-grooming {
  background-image: url("../images/cat.png"); }

#banner-shop {
  background-image: url("../images/bird.png"); }

/* ---------- NAV ---------- */
nav {
  text-align: center; }
  nav .menu-main {
    display: none; }
    @media (min-width: 480px) {
      nav .menu-main {
        display: block; } }
    nav .menu-main li {
      display: inline-block;
      padding: 20px; }
    nav .menu-main a {
      font-weight: 400;
      font-size: 1.4em; }
  nav .menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #cc9966;
    z-index: 2; }
    @media (min-width: 480px) {
      nav .menu-overlay {
        display: none !important; } }
    nav .menu-overlay .menu-overlayContent {
      position: relative;
      top: 25%; }
      nav .menu-overlay .menu-overlayContent li {
        padding: 20px; }
      nav .menu-overlay .menu-overlayContent a {
        font-size: 1.4em; }

.current-link {
  border-bottom: 1px solid #cc6666; }

.hamburger {
  position: absolute;
  right: 10px;
  top: 20px; }
  @media (min-width: 480px) {
    .hamburger {
      display: none; } }

.is-active {
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 3; }

/* ---------- PAGES GENERAL ---------- */
.main-page {
  min-height: 1500px;
  background: linear-gradient(to bottom, rgba(255, 204, 153, 0), #ffcc99); }
  .main-page h1 {
    font-weight: 700;
    text-align: center;
    margin: 50px 0px 20px; }
  .main-page p {
    font-weight: 400;
    padding: 0px 20px;
    text-align: justify;
    max-width: 450px; }

/* ---------- HOME ---------- */
/* ---------- GROOMING ---------- */
#pricing-grooming {
  text-align: center;
  margin-top: 50px;
  padding: 0px 20px;
  max-width: 450px; }
  #pricing-grooming .priceGroup {
    padding-bottom: 50px; }
  #pricing-grooming h2 {
    text-align: left;
    font-weight: 400;
    font-size: 1.2em; }
    @media (min-width: 480px) {
      #pricing-grooming h2 {
        font-size: 1.5em; } }
  #pricing-grooming p {
    padding: 0; }
  #pricing-grooming .desc {
    padding: 0;
    font-size: 0.9em;
    font-weight: 200; }
  #pricing-grooming .prices {
    margin-top: 20px;
    font-size: 0.875em;
    font-weight: 400; }
    @media (min-width: 480px) {
      #pricing-grooming .prices {
        font-size: 1em; } }
    #pricing-grooming .prices li {
      text-align: left;
      margin-bottom: 10px;
      border-bottom: 1px solid #cc6666; }
    #pricing-grooming .prices span {
      float: right; }

/* ---------- SHOP ---------- */
/* ---------- EVENTS ---------- */
/* ---------- CONTACT/FOOTER ---------- */
#footer-extras {
  background-color: rgba(255, 204, 153, 0.5);
  min-height: 500px; }

#hours {
  text-align: center;
  font-weight: 400;
  padding: 15px 0px;
  max-width: 180px; }
  #hours li {
    text-align: left;
    margin-bottom: 5px;
    border-bottom: 1px solid #cc6666; }
  #hours span {
    float: right; }

#contact {
  font-weight: 400;
  padding: 15px 0px;
  text-align: center; }
  #contact #number {
    margin-bottom: 10px; }

footer {
  background-color: #ffcc99;
  text-align: center;
  padding: 15px 0px;
  font-size: 0.75em; }

/*# sourceMappingURL=main.css.map */
