/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #cc6666;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
 * Boring
 */
.hamburger--boring .hamburger-inner, .hamburger--boring .hamburger-inner::before, .hamburger--boring .hamburger-inner::after {
  transition-property: none; }
.hamburger--boring.is-active .hamburger-inner {
  transform: rotate(45deg); }
  .hamburger--boring.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--boring.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg); }

/* ---------- GENERAL ---------- */
* {
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  list-style: none; }

.hide {
  /* jquery added class - keeps background from scrolling */
  overflow: hidden; }

/* ---------- LINKS ---------- */
a:link {
  color: #000; }

a:visited {
  color: #000; }

a:hover {
  color: #000; }

a:active {
  color: #000; }

/* ---------- BANNERS ---------- */
#banner-home, #banner-grooming, #banner-shop, #banner-events {
  height: 350px;
  margin-top: 84px;
  background-image: url("../images/dog2_small.png");
  background-size: cover;
  background-position: center; }
  @media (min-width: 480px) {
    #banner-home, #banner-grooming, #banner-shop, #banner-events {
      margin-top: 0;
      background-image: url("../images/dog2.png"); } }

#banner-grooming {
  background-image: url("../images/groom_dog2_small.png"); }
  @media (min-width: 480px) {
    #banner-grooming {
      background-image: url("../images/groom_dog2.png"); } }

#banner-shop {
  background-image: url("../images/gecko2_small.png");
  background-position: right; }
  @media (min-width: 480px) {
    #banner-shop {
      background-image: url("../images/gecko2.png"); } }
  @media (min-width: 1024px) {
    #banner-shop {
      background-image: url("../images/gecko2_big.png");
      background-position: top; } }

#banner-events {
  background-image: url("../images/collage2_small.png"); }
  @media (min-width: 768px) {
    #banner-events {
      background-image: url("../images/collage2.png"); } }

/* ---------- NAV ---------- */
.fixedNav {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 1000;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease; }
  @media (min-width: 480px) {
    .fixedNav {
      display: none; } }

.scrolled {
  background-color: #cc9966; }

.navWrap {
  position: relative;
  width: 95%; }

.hamburger {
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  /* vertically centered */
  right: 10px;
  padding: 0; }
  @media (min-width: 480px) {
    .hamburger {
      display: none; } }

.is-active {
  position: absolute;
  right: 10px; }

nav {
  text-align: center;
  margin: 20px 0px 0px 0px;
  /* end .menu-overlay */ }
  @media (min-width: 768px) {
    nav {
      margin: 30px 10px 0px 0px;
      float: right; } }
  nav .menu-main {
    display: none; }
    @media (min-width: 480px) {
      nav .menu-main {
        display: block; } }
    nav .menu-main li {
      display: inline-block;
      padding: 15px; }
    nav .menu-main a {
      font-weight: 400;
      font-size: 1.3em; }
  nav .menu-overlay {
    display: none;
    /* jquery added toggle */
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #cc9966;
    z-index: 900; }
    @media (min-width: 480px) {
      nav .menu-overlay {
        display: none !important; } }
    nav .menu-overlay .menu-overlayContent {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      /* vertically centered */ }
      nav .menu-overlay .menu-overlayContent li {
        padding: 20px; }
      nav .menu-overlay .menu-overlayContent a {
        font-size: 1.4em; }

/* end nav */
.current-link {
  border-bottom: 1px solid #cc6666; }

/* ---------- PAGES GENERAL ---------- */
.logo-mobile {
  display: inline-block; }
  @media (min-width: 480px) {
    .logo-mobile {
      display: none; } }

.logo-desktop {
  display: none; }
  @media (min-width: 480px) {
    .logo-desktop {
      display: block;
      text-align: center; } }
  @media (min-width: 768px) {
    .logo-desktop {
      display: inline-block; } }

.main-page {
  min-height: 500px;
  background: -webkit-linear-gradient(top, rgba(255, 204, 153, 0), #ffcc99);
  background: linear-gradient(to bottom, rgba(255, 204, 153, 0), #ffcc99);
  padding-bottom: 100px; }
  .main-page h1 {
    font-weight: 700;
    text-align: center;
    margin: 50px 0px 20px; }
  .main-page p {
    font-weight: 400;
    padding: 0px 20px;
    text-align: justify;
    max-width: 450px; }

/* ---------- HOME ---------- */
.modal-overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000000; }
  .modal-overlay .modal {
    width: 70%;
    height: 200px;
    overflow: scroll;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    /* vertically centered */
    padding: 30px;
    margin: 0 auto;
    background-color: white;
    border-radius: 15px; }
    @media (min-width: 480px) {
      .modal-overlay .modal {
        width: 350px; } }

.btn-close {
  cursor: pointer;
  float: right;
  border-radius: 10px;
  border: none;
  font-size: 1.25em;
  background-color: white; }

#modal-head {
  margin-bottom: 10px;
  font-weight: 500; }

#paintIntro {
  text-align: center;
  font-size: 1.25em; }
  #paintIntro a {
    color: #cc6666; }

#team {
  text-align: center;
  margin-top: 50px; }
  #team .teamPic {
    cursor: pointer;
    margin: 25px;
    position: relative;
    display: inline-block; }

.picText {
  font-weight: 400; }
  @media (min-width: 768px) {
    .picText {
      opacity: 0;
      /* display on hover */
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      /* vertically centered */
      position: absolute;
      right: 0;
      left: 0; } }

#management {
  display: block; }

@media (min-width: 768px) {
  .teamPic:hover .picText {
    opacity: 1; } }

@media (min-width: 768px) {
  .teamPic:hover img {
    opacity: 0.5; } }

@media (min-width: 768px) {
  #heweyDewey h3 {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    /* vertically centered */ } }

/* ---------- GROOMING ---------- */
#main-grooming p:nth-child(6) {
  margin-bottom: 50px; }

/* responsiveSlides slideshow plugin */
.rslides {
  position: relative;
  overflow: hidden;
  width: 90%; }
  @media (min-width: 768px) {
    .rslides {
      max-width: 735px; } }

.rslides li {
  display: none;
  -webkit-backface-visibility: hidden;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0; }

.rslides li:first-child {
  position: relative;
  display: block; }

.rslides img {
  display: block;
  height: auto;
  width: 100%;
  border: 0; }

/* end plugin */
#pricing-grooming {
  text-align: center;
  margin-top: 50px;
  padding: 0px 20px;
  max-width: 450px; }
  #pricing-grooming .priceGroup {
    padding-bottom: 50px; }
  #pricing-grooming h2 {
    text-align: left;
    font-weight: 400;
    font-size: 1.2em; }
    @media (min-width: 480px) {
      #pricing-grooming h2 {
        font-size: 1.5em;
        /* back to default */ } }
  #pricing-grooming p {
    padding: 0; }
  #pricing-grooming .desc {
    padding: 0;
    font-size: 0.9em;
    font-weight: 400; }
  #pricing-grooming .prices {
    margin-top: 20px;
    font-size: 0.875em;
    font-weight: 400; }
    @media (min-width: 480px) {
      #pricing-grooming .prices {
        font-size: 1em; } }
    #pricing-grooming .prices li {
      text-align: left;
      margin-bottom: 10px;
      border-bottom: 1px solid #cc6666; }
    #pricing-grooming .prices span {
      float: right; }

/* end #pricing-grooming */
/* ---------- SHOP ---------- */
/* ---------- GALLERY/EVENTS ---------- */
#body-events {
  background-color: #ffcc99; }

#paintings {
  text-align: center;
  margin-top: 50px;
  padding: 0px 20px 50px;
  max-width: 450px; }
  #paintings h2 {
    text-align: left;
    font-weight: 400;
    font-size: 1.2em; }
    @media (min-width: 480px) {
      #paintings h2 {
        font-size: 1.5em;
        /* back to default */ } }
  #paintings #paintDesc {
    padding: 0;
    font-size: 0.9em;
    font-weight: 400; }
  #paintings #paintPrices {
    margin-top: 20px;
    font-size: 0.875em;
    font-weight: 400; }
    @media (min-width: 480px) {
      #paintings #paintPrices {
        font-size: 1em; } }
    #paintings #paintPrices li {
      text-align: left;
      margin-bottom: 10px;
      border-bottom: 1px solid #cc6666; }
    #paintings #paintPrices span {
      float: right; }

#events {
  text-align: center;
  padding: 0px 20px 50px;
  max-width: 450px; }
  #events h2 {
    text-align: left;
    font-weight: 400;
    font-size: 1.2em; }
    @media (min-width: 480px) {
      #events h2 {
        font-size: 1.5em;
        /* back to default */ } }
  #events #eventDesc {
    padding: 0;
    margin-top: 20px;
    font-size: 0.9em;
    font-weight: 400; }

.offset::before {
  display: block;
  content: '';
  height: 80px;
  margin-top: -80px; }
  @media (min-width: 480px) {
    .offset::before {
      height: 0;
      margin-top: 0; } }

/* responsiveSlides slideshow plugin - line 346 */
/* ---------- CONTACT/FOOTER ---------- */
#footer-extras {
  background-color: #ffe6cc;
  min-height: 500px; }

#hours {
  text-align: center;
  font-weight: 400;
  padding: 15px 0px;
  max-width: 180px; }
  #hours li {
    text-align: left;
    margin-bottom: 5px;
    border-bottom: 1px solid #cc6666; }
  #hours span {
    float: right; }

#contact {
  font-weight: 400;
  padding: 15px 0px;
  text-align: center; }
  #contact #number,
  #contact #facebook {
    margin-bottom: 15px; }

#facebook a {
  color: #cc6666; }

#map {
  text-align: center;
  padding: 15px 0px; }
  #map iframe {
    max-width: 750px; }

footer {
  background-color: #ffcc99;
  text-align: center;
  padding: 15px 0px;
  font-size: 0.75em; }

#portfolioSite {
  color: #cc6666; }

/*# sourceMappingURL=main.css.map */
